.header {
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
}

.header.empty {
    background: linear-gradient(to bottom, #b82020, #be1414);
}

.header .header-input {
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
    background: transparent;
    font: 24px sans-serif;
    font-weight: bold;
    width: 150px;
}

.header span {
    margin: 0 10px;
    font-weight: bold;
}

input {
    text-align: center;
    padding: 9px 12px;
    border-radius: 3px;
    border: 1px solid #b2bec3;
    color: #333;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.admin button {
    width: 130px;
    height: 35px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.admin button:hover {
    background: #3b5998;
    opacity: 0.6;
}
.langChangeButton {
    display: block;
    margin: 10px 0 0 15px;
}
.langChangeButton:hover {
    cursor: pointer;
    background-color: #b2bec3;
}