
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
}

.container {
    width: 1000px;
}

.product {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 24%;
    text-align: center;
}
.product h3{
    font-size: 20px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.product img {
    width: 100%;
}

.reset {
    background: #61dafb;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.basket-container {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.basket-container .total {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #179b17;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
}


.removeItem {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;

}

.amount {
    text-align: center;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;


}

.addItem {

    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
}